.DEBUG {
  border: solid 1px #DEDEDE;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1.15;
}

section.cover {
  height: 60vh;
  background-color: #444;
  background-image: url('students-background-dark.jpg');
  background-size: cover;
  position: relative;
}

section.cover .title-container {
  position: absolute;
  left: 5%;
  bottom: 10%;
}

h1 {
  font-family: 'Lora', serif;
  color: #fff;
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 12px;
}

.subtitle {
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 2rem;
  font-style: italic;
}

section.story {
  padding: 36px 5%;
}

section.story.intro {
  background-color: #eee;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 12px;
}

a {
  color: inherit;
  position: relative;
  z-index: 0;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, #a1c4fd 0%, #c2e9fb 100%);
  background-repeat: no-repeat;
  background-position: 0 95%;
  background-size: 100% 20%;
  transition: 0.2s;
}
a:hover {
  background-size: 100% 100%;
  transition: 0.1s;
}

p {
  line-height: 1.4;
  margin-bottom: 24px;
}

hr {
  border: solid 1px #ddd;
}

#sankey-diagram {
  min-width: 600px;
  max-height: 420px;
}

footer {
  color: #333;
  background-color: #eee;
  font-size: 0.7rem;
  margin-top: 36px;
  padding: 36px 5% 12px 5%;
}

footer h4 {
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

footer p {
  margin-bottom: 24px;
}
